	<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="/SitePanel/js/jquery.js"></script>
<script src="/SitePanel/js/popper.min.js"></script>
<script src="/SitePanel/js/bootstrap.min.js"></script>
<script src="/SitePanel/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/SitePanel/js/jquery.fancybox.js"></script>
<script src="/SitePanel/js/appear.js"></script>
<script src="/SitePanel/js/parallax.min.js"></script>
<script src="/SitePanel/js/tilt.jquery.min.js"></script>
<script src="/SitePanel/js/jquery.paroller.min.js"></script>
<script src="/SitePanel/js/owl.js"></script>
<script src="/SitePanel/js/wow.js"></script>
<script src="/SitePanel/js/nav-tool.js"></script>
<script src="/SitePanel/js/jquery-ui.js"></script>
<script src="/SitePanel/js/script.js"></script>
<script src="/SitePanel/js/color-settings.js"></script>

<!--Add By Developer-->
<script src="/common/waitme/waitMe.min.js"></script>
<script src="/common/notification/notifications.js"></script>
<script src="/common/sweetalert/sweetalert.js"></script>
<script src="/common/Custom/custom.js"></script>
<script src="/common/jquery.playsound/jquery.playsound.js"></script>

<script src="/common/js/adminCustom.js"></script>
<script src="/common/js/ckEditorReference.js"></script>

