<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>@ViewData["Title"]  | کیلینیک سلامت </title>

	<partial name="_HeaderRefrences">

		@await RenderSectionAsync("Styles", false)

</head>

<body class="hidden-bar-wrapper">

	<div class="page-wrapper">

		<!-- Main Header-->
		<header class="main-header header-style-one">

			<!-- Header Top -->
			<div class="header-top">
				<div class="auto-container">
					<div class="clearfix">
						<!-- Top Left -->
						<div class="top-left">
							<!-- Info List -->
							<ul class="info-list">
								<li><a href="mailto:info@webmail.com"><span class="icon flaticon-email"></span> info@webmail.com</a></li>
								<li><a href="tel:786-875-864-75"><span class="icon flaticon-telephone"></span> 786 875 864 75</a></li>
							</ul>
						</div>

						<!-- Top Right -->
						<div class="top-right pull-right">
							<!-- Social Box -->
							<ul class="social-box">
								<li><a href="#" class="fa fa-facebook-f"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-dribbble"></a></li>
								<li><a href="#" class="fa fa-google"></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<!--Header-Upper-->
			<div class="header-upper">
				<div class="auto-container clearfix">

					<div class="pull-left logo-box">
						<div class="logo"><a href="index.html"><img src="/SitePanel/images/logo.png" alt="" title=""></a></div>
					</div>

					<div class="nav-outer clearfix">
						<!--Mobile Navigation Toggler-->
						<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<div class="navbar-header">
								<!-- Toggle Button -->
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="تغییر ناوبری ">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li class="current dropdown">
										<a href="#">صفحه اصلی </a>
										<ul>
											<li class="dropdown">
												<a href="#">صفحات اصلی </a>
												<ul>
													<li><a href="index.html">صفحه اصلی  01</a></li>
													<li><a href="index-2.html">صفحه اصلی  02</a></li>
													<li><a href="index-3.html">صفحه اصلی  03</a></li>
												</ul>
											</li>
											<li class="dropdown">
												<a href="#">سبک هدر </a>
												<ul>
													<li><a href="index.html">سک هدر  01</a></li>
													<li><a href="index-2.html">سک هدر  02</a></li>
													<li><a href="index-3.html">سک هدر  03</a></li>
													<li><a href="index-4.html">سک هدر  04</a></li>
													<li><a href="index-5.html">سک هدر  05</a></li>
													<li><a href="index-6.html">سک هدر  06</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#">درباره ما </a>
										<ul>
											<li><a href="about.html">درباره ما </a></li>
											<li><a href="faq.html">گفت و گو </a></li>
											<li><a href="price.html">قیمت </a></li>
											<li><a href="team.html">تیم   </a></li>
											<li><a href="testimonial.html">مشتریان ما </a></li>
											<li><a href="comming-soon.html">به زودی </a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#">خدمات </a>
										<ul>
											<li><a href="services.html">خدمات </a></li>
											<li><a href="services-detail.html">جزئیات خدمات  </a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#">پروژه ها </a>
										<ul>
											<li><a href="projects.html">پروژه ها </a></li>
											<li><a href="projects-detail.html">جزئیات خدمات </a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#">فروشگاه </a>
										<ul>
											<li><a href="shop.html">محصولات ما </a></li>
											<li><a href="shop-single.html">تک محصول </a></li>
											<li><a href="shopping-cart.html">سبد فروشگاه  </a></li>
											<li><a href="checkout.html">پرداخت </a></li>
											<li><a href="account.html">اکانت </a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#">وبلاگ </a>
										<ul>
											<li><a href="blog.html">وبلاگ ما  </a></li>
											<li><a href="blog-classic.html">وبلاگ کلاسیک </a></li>
											<li><a href="news-detail.html">تک نوشته  </a></li>
											<li><a href="not-found.html">وجود ندارد </a></li>
										</ul>
									</li>
									<li><a href="contact.html">تماس با ما </a></li>
								</ul>
							</div>
						</nav>

						<!-- Main Menu End-->
						<div class="outer-box clearfix">

							<!-- Cart Box -->
							<div class="cart-box">
								<div class="dropdown">
									<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-bag-1"></span><span class="total-cart">2</span></button>
									<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu1">

										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="/SitePanel/images/resource/post-thumb-1.jpg" alt="" /></div>
												<h3><a href="shop-single.html">کیف پول </a></h3>
												<div class="quantity-text"> تعداد  1</div>
												<div class="price">99000 تومان</div>
											</div>
										</div>
										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="/SitePanel/images/resource/post-thumb-2.jpg" alt="" /></div>
												<h3><a href="shop-single.html">جعبه بوکس</a></h3>
												<div class="quantity-text"> تعداد  1</div>
												<div class="price">99000 تومان</div>
											</div>
										</div>
										<div class="cart-total">جمع کل:  <span>198000 تومان</span></div>
										<ul class="btns-boxed">
											<li><a href="shopping-cart.html">نمایش سبد </a></li>
											<li><a href="checkout.html">پرداخت </a></li>
										</ul>

									</div>
								</div>
							</div>

							<!-- Search Btn -->
							<div class="search-box-btn search-box-outer"><span class="icon fa fa-search"></span></div>

							<!-- Nav Btn -->
							<div class="nav-btn navSidebar-button"><span class="icon flaticon-menu-2"></span></div>

							<!-- Quote Btn -->
							<div class="btn-box">
								<a asp-action="Index" asp-area="Admin" asp-controller="Home" class="theme-btn btn-style-one"><span class="txt">پنل ادمین </span></a>
							</div>

						</div>
					</div>

				</div>
			</div>
			<!--End Header Upper-->
			<!-- Sticky Header  -->
			<div class="sticky-header">
				<div class="auto-container clearfix">
					<!--Logo-->
					<div class="logo pull-left">
						<a href="index.html" title=""><img src="/SitePanel/images/logo-small.png" alt="" title=""></a>
					</div>
					<!--Right Col-->
					<div class="pull-right">
						<!-- Main Menu -->
						<nav class="main-menu">
							<!--Keep This Empty / Menu will come through Javascript-->
						</nav><!-- Main Menu End-->
						<!-- Main Menu End-->
						<div class="outer-box clearfix">

							<!-- Cart Box -->
							<div class="cart-box">
								<div class="dropdown">
									<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-bag-1"></span><span class="total-cart">2</span></button>
									<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu">

										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="/SitePanel/images/resource/post-thumb-1.jpg" alt="" /></div>
												<h3><a href="shop-single.html">کیف پول </a></h3>
												<div class="quantity-text"> تعداد  1</div>
												<div class="price">99000 تومان</div>
											</div>
										</div>
										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="/SitePanel/images/resource/post-thumb-2.jpg" alt="" /></div>
												<h3><a href="shop-single.html">جعبه بوکس</a></h3>
												<div class="quantity-text"> تعداد  1</div>
												<div class="price">99000 تومان</div>
											</div>
										</div>
										<div class="cart-total">جمع کل:  <span>198000 تومان</span></div>
										<ul class="btns-boxed">
											<li><a href="shopping-cart.html">نمایش سبد </a></li>
											<li><a href="checkout.html">پرداخت </a></li>
										</ul>

									</div>
								</div>
							</div>

							<!-- Search Btn -->
							<div class="search-box-btn search-box-outer"><span class="icon fa fa-search"></span></div>

							<!-- Nav Btn -->
							<div class="nav-btn navSidebar-button"><span class="icon flaticon-menu"></span></div>

						</div>

					</div>
				</div>
			</div><!-- End Sticky Menu -->
			<!-- Mobile Menu  -->
			<div class="mobile-menu">
				<div class="menu-backdrop"></div>
				<div class="close-btn"><span class="icon flaticon-multiply"></span></div>

				<nav class="menu-box">
					<div class="nav-logo"><a href="index.html"><img src="/SitePanel/images/logo.png" alt="" title=""></a></div>
					<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
				</nav>
			</div><!-- End Mobile Menu -->

		</header>
		<!-- End Main Header -->


		<!-- Sidebar Cart Item -->
		<div class="xs-sidebar-group info-group">
			<div class="xs-overlay xs-bg-black"></div>
			<div class="xs-sidebar-widget">
				<div class="sidebar-widget-container">
					<div class="widget-heading">
						<a href="#" class="close-side-widget">
							X
						</a>
					</div>
					<div class="sidebar-textwidget">

						<!-- Sidebar Info Content -->
						<div class="sidebar-info-contents">
							<div class="content-inner">
								<div class="logo">
									<a href="index.html"><img src="/SitePanel/images/logo-2.png" alt="" /></a>
								</div>
								<div class="content-box">
									<h2> درباره ما </h2>
									<p class="text">استدلال به نفع استفاده از متن پرکننده چیزی شبیه به این است: اگر در فرآیند مشاوره از محتوای واقعی استفاده می کنید ، هر زمان که به یک نقطه بررسی رسیدید ، در نهایت خود و نه طرح محتوا را بررسی و مذاکره می کنید.</p>
									<a href="#" class="theme-btn btn-style-two"><span class="txt">مشاوره </span></a>
								</div>
								<div class="contact-info">
									<h2>اطلاعات تماس </h2>
									<ul class="list-style-one">
										<li><span class="icon fa fa-location-arrow"></span>شیکاگو، مرکز لوراس منطقه سه</li>
										<li><span class="icon fa fa-phone"></span>(111) 111-111-1111</li>
										<li><span class="icon fa fa-envelope"></span>globex@gmail.com</li>
										<li><span class="icon fa fa-clock-o"></span>شنبه - چهارشنبه | ساعت کاری 9 صبح تا 19 عصر</li>
									</ul>
								</div>
								<!-- Social Box -->
								<ul class="social-box">
									<li class="facebook"><a href="#" class="fa fa-facebook-f"></a></li>
									<li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
									<li class="linkedin"><a href="#" class="fa fa-linkedin"></a></li>
									<li class="instagram"><a href="#" class="fa fa-instagram"></a></li>
									<li class="youtube"><a href="#" class="fa fa-youtube"></a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- END sidebar widget item -->


		@RenderBody()


		<!-- Main Footer -->
		<footer class="main-footer">
			<div class="pattern-layer-one" style="background-image: url(/SitePanel/images/background/pattern-7.png)"></div>
			<div class="pattern-layer-two" style="background-image: url(/SitePanel/images/background/pattern-8.png)"></div>
			<!--Waves end-->
			<div class="auto-container">
				<!--Widgets Section-->
				<div class="widgets-section">
					<div class="row clearfix">

						<!-- Column -->
						<div class="big-column col-lg-6 col-md-12 col-sm-12">
							<div class="row clearfix">

								<!-- Footer Column -->
								<div class="footer-column col-lg-7 col-md-6 col-sm-12">
									<div class="footer-widget logo-widget">
										<div class="logo">
											<a href="index.html"><img src="/SitePanel/images/logo-2.png" alt="" /></a>
										</div>
										<div class="text">ما بهترین شرکت فناوری اطلاعات جهان هستیم. ارائه بالاترین کیفیت در سخت افزار و راه حل های شبکه. حدود بیش از 25 سال تجربه و 1000 دستاورد ابتکاری.</div>
										<!-- Social Box -->
										<ul class="social-box">
											<li><a href="#" class="fa fa-facebook-f"></a></li>
											<li><a href="#" class="fa fa-linkedin"></a></li>
											<li><a href="#" class="fa fa-twitter"></a></li>
											<li><a href="#" class="fa fa-google"></a></li>
										</ul>
									</div>
								</div>

								<!-- Footer Column -->
								<div class="footer-column col-lg-5 col-md-6 col-sm-12">
									<div class="footer-widget links-widget">
										<h5>لینک های کمکی </h5>
										<ul class="list-link">
											<li><a href="#">مدیریت خدمات اطلاعاتی </a></li>
											<li><a href="#">خدمات ابری </a></li>
											<li><a href="#">پشتیبانی فناوری اطلاعات و مرکز پشتیبانی</a></li>
											<li><a href="#">امنیت سایبری </a></li>
											<li><a href="#">نرم افزار سفارشی </a></li>
											<li><a href="#">مشاوره رایگان</a></li>
											<li><a href="#">رشد تجارت ما</a></li>
										</ul>
									</div>
								</div>

							</div>
						</div>

						<!-- Column -->
						<div class="big-column col-lg-6 col-md-12 col-sm-12">
							<div class="row clearfix">

								<!-- Footer Column -->
								<div class="footer-column col-lg-6 col-md-6 col-sm-12">
									<div class="footer-widget news-widget">
										<h5>پست های اخیر</h5>
										<!-- Footer Column -->
										<div class="widget-content">
											<div class="post">
												<div class="thumb"><a href="news-detail.html"><img src="/SitePanel/images/resource/post-thumb-3.jpg" alt=""></a></div>
												<h6><a href="news-detail.html">بهترین فناوری راه حل فناوری اطلاعات جهان را تعریف کنید</a></h6>
												<span class="date">خرداد 1400</span>
											</div>

											<div class="post">
												<div class="thumb"><a href="news-detail.html"><img src="/SitePanel/images/resource/post-thumb-4.jpg" alt=""></a></div>
												<h6><a href="news-detail.html">چارچوب های PHP شما باید در هر کجا استفاده کنید</a></h6>
												<span class="date">خرداد 1400</span>
											</div>
										</div>
									</div>
								</div>

								<!-- Footer Column -->
								<div class="footer-column col-lg-6 col-md-6 col-sm-12">
									<div class="footer-widget contact-widget">
										<h5>تماس با ما </h5>
										<ul>
											<li>
												<span class="icon flaticon-placeholder-2"></span>
												<strong>آدرس </strong>
												ایران، ارومیه، شاهین دژ
											</li>
											<li>
												<span class="icon flaticon-phone-call"></span>
												<strong>تلفن </strong>
												<a href="tel:+786-875-864-75">+ 786 875 864 75</a>
											</li>
											<li>
												<span class="icon flaticon-email-1"></span>
												<strong>ایمیل </strong>
												<a href="mailto:support@globex.com">support@globex.com</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="auto-container">
						<div class="row clearfix">
							<!-- Column -->
							<div class="column col-lg-6 col-md-12 col-sm-12">
								<div class="copyright">کپی رایت 1400 | طراحی سایت و توسعه قالب توسط جعفر عباسی. تمام حقوق سایت محفوظ می باشد..</div>
							</div>
							<!-- Column -->
							<div class="column col-lg-6 col-md-12 col-sm-12">
								<ul class="footer-nav">
									<li><a href="#">درباره ما </a></li>
									<li><a href="#">خدمات </a></li>
									<li><a href="#">حریم خصوصی </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</footer>


	</div>
	<!--End pagewrapper-->
	<!-- Color Palate / Color Switcher -->

	<div class="color-palate">
		<div class="color-trigger">
			<i class="fa fa-gear"></i>
		</div>
		<div class="color-palate-head">
			<h6>انتخاب رنگ دلخواه</h6>
		</div>

		<div class="various-color clearfix">
			<div class="colors-list">
				<span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
				<span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
				<span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
				<span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
				<span class="palate purple-color" data-theme-file="css/color-themes/purple-theme.css"></span>
				<span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
				<span class="palate brown-color" data-theme-file="css/color-themes/brown-theme.css"></span>
				<span class="palate redd-color" data-theme-file="css/color-themes/redd-color.css"></span>
			</div>
		</div>


		<a href="#" class="purchase-btn">خرید فقط با 89 هزار تومان</a>

		<div class="palate-foo">
			<span>در پنل مدیریت گزینه های بیشتری برای رنگ و یک ظاهر طراحی خواهید یافت. این انتخابگر رنگ فقط برای اهداف نمایشی استفاده می شود.</span>
		</div>

	</div>

	<!-- Search Popup -->
	<div class="search-popup">
		<button class="close-search style-two"><span class="flaticon-multiply"></span></button>
		<button class="close-search"><span class="flaticon-up-arrow-1"></span></button>
		<form method="post" action="https://expert-themes.com/html/globex/blog.html">
			<div class="form-group">
				<input type="search" name="search-field" value="" placeholder="اینجا جستجو کنید" required="">
				<button type="submit"><i class="fa fa-search"></i></button>
			</div>
		</form>
	</div>
	<!-- End Header Search -->

	<partial name="_FooterReferences">

</body>

</html>
