

<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Brand -->
            <div class="navbar-header pull-right">
                <a href="/" class="navbar-brand">
                    <small>
                        <img src="/favicon.png" alt="Logo" />
                    </small>
                </a>
            </div>
            <!-- /Navbar Brand -->

            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>

            <!-- /Navbar Brand -->
            @await Component.InvokeAsync("AdminNavbar")
            <!-- /Navbar Brand -->

        </div>
    </div>
</div>
<!-- /Navbar -->